<div id="dashbaord"> 
    <div id="map"></div>

    <div class="store-details">
        <a href="#"><img class="store-photo" src="images/store-pin.png"></a>
        <ul class="store-details-list">
            <li class="store-name"><strong>Loading...</strong></li>
            <li class="store-desc"></li>
            <li class="store-hours"><strong>Store hours:</strong><br /><span class="store-open"></span> - <span class="store-close"></span> (<span class="store-status"></span>)</li>
            <!-- <li><a class="store-current-distance" href="#">0.3km away from destination</a></li> -->
        </ul>
        <a class="store-order"><img class="store-next" src="images/right-arrow.png"></a>
    </div>

    <div ng-include src="'templates/nav.html'"></div>
    <script type="text/javascript" src="js/storemap.js"></script>
</div>