    <div id="main-wrap">
        <div id="header">
            <div class="container">
                <img class="main-logo" src="images/logo.png" />
                <h5>YOUR ALMOST THERE</h5>
            </div>
            
        </div>

        <div id="main-content">
            <div class="container">
                <form ng-submit="submit()" ng-controller="registerStep3Controller" role="search" class="navbar-form navbar-left registration-form">
                    <div class="alert alert-danger" role="alert" ng-show="errormsgshow">
                        <b>Alert!</b>
                        <p>{{ errormsg }}</p>
                      </div>
                    <div class="form-group">
                        <span class="inp-label">Confirmation Code</span>
                        <input type="text" class="form-control inp-number" ng-model="password" name="password">
                    </div>

                    <button class="btn btn-default" type="submit">CONFIRM</button>
                </form>

                <div class="confirmation-code-wrap"><a class="confirmation-code" href="#">Resend confirmation code</a></div>
            </div>
        </div>

    </div>